@font-face {
  font-family: 'Nova Mono';
  src: url('../fonts/Nova_Mono/NovaMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}
body { 
  background-color: #0e0e0e;
  overflow:hidden; 
  font-family: 'Outfit', sans-serif;
  font-weight:700;
}
.center-child {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  position:fixed;
  top:0;left:0;
  height:100vh;
  width:100vw;
  overflow:hidden;
  background: linear-gradient(0deg, rgb(3, 7, 13) 0%, rgba(3,3,10,1) 0%, rgba(11,16,23,1) 100%);
}
.layer {
  position:absolute;
  height:500vh;
  width:50vw;
  top:50%;
  left:50%;
  transition:translate .2s ease-in-out;
}
.layer#top {
  transform:translate(-50%,-50%) rotate(40deg);
  background:#34495E;
  z-index:100;
}
.layer#bottom {
  transform:translate(calc(-50% + 1rem),-50%) rotate(40deg);
  background:#4A6A8E;
  z-index:0;
}
.links-outer {
  position:fixed;
  top:0;left:0;
}
.external-links {
  margin:0.8rem;
  border-radius:0.5rem;
  background:#1a1b1f86;
  z-index:10000;
  display:flex;
  flex-direction: row;
  gap:1rem;
  padding:1rem;
  align-items: center;
  transition:all .2s ease-in-out;
}
.external-links:hover {
  background:#1b1a1f;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.external-link {
  font-size:1.4rem;
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color:#fff;
}
.external-link svg:hover {
  color:#7e9af5;
}
.links-pullout-tab {
  display:none;
}


@media screen and (max-width: 800px) {

  .links-outer {
    z-index:2000000;
    background:#1b1a1f;
    border-radius:0 0 0.4rem 0;
    width:50vw;
    height:50vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:stretch;
    transition:transform .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .external-links {
    background:none;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  }
  .external-links:hover {
    background:none;
    box-shadow:none;
  }
  .external-link {
    font-size:2rem;
  }

  .links-outer.hidden {
    transform:translateX(-100%);
  }

  .links-pullout-tab {
    display:block;
    position:absolute;
    top:0;right:0;
    transform:translateX(100%);
    background:#1b1a1f;
    cursor:pointer;
    padding:0.8rem;
    border-radius:0 0.4rem 0.4rem 0;
  }

  .links-pullout-tab svg {
    color:#fff;
    font-size:2rem;
  }

}

@media screen and (max-width: 400px) {
  
  .links-outer {
    width:70vw;
  }
  .external-link {
    font-size:1rem;
  }

  .links-outer.hidden {
    transform:translateX(-100%);
  }

  .links-pullout-tab {
    display:block;
    position:absolute;
    top:0;right:0;
    transform:translateX(100%);
    background:#1b1a1f;
    cursor:pointer;
    padding:0.8rem;
    border-radius:0 0.4rem 0.4rem 0;
  }

  .page-link {
    font-size:1rem;
  }

  .links-pullout-tab svg {
    color:#fff;
    font-size:1.4rem;
  }
}